<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
    <!-- Main site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/portfolio"><i class="fas fa-angle-double-left"></i> Portfolio</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Add to Portfolio</h2>
                <span class="text-light">Add Purchase Details</span>
            </div>
            <!-- add user form -->
            <%- include('include/_form') %>

            <!-- /add user form -->
         
        </div>
    </main>
    <!-- /Main site -->
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->