<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/landingpage.css">
    <link rel="stylesheet" href="../public/css/landingpage.css">
</head>

<body>
    <!-- Start Landing Page -->
    <!-- Start Landing Page -->
    <div class="landing-page">
        <header>
            <div class="nav-container">
                <a href="#" class="logo">Stock <b>Hawk</b></a>
                <ul class="links">
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Work</li>
                    <li>Info</li>
                    <li>Get Started</li>
                </ul>
            </div>
        </header>
        <div class="content">
            <div class="nav-container">
                <div class="info">
                    <h1>Start Tracking with StockHawk</h1>
                    <button><a href="login">LOGIN</a></button>
                    <p>Don't have an account?</p><a href="register">Sign up</a>
                </div>
                <div class="image">
                    <!-- <img src="/images/undraw_Projections_re_ulc6.png" > -->
                    <img src="/public/images/undraw_Projections_re_ulc6.png">
                </div>
            </div>
        </div>
    </div>
</body>

</html>