<!DOCTYPE html>
<html>

<head>

    <title>Login</title>
    <!-- <link rel="stylesheet" href="/public/css/login.css"> -->
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <div id="container">
        <form action="/user/login" method="POST">
            <h1>StockHawk</h1>
            <label>Username:</label>
            <input type="text" name="username" placeholder="username" autocomplete="off">
            <label>Password:</label>
            <input type="password" name="password" placeholder="password">
            <input type="submit"value="Login">
        </form>
    </div>

</body>

</html>