<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/landingpage.css">
    <script src="/js/transact.js" defer></script>
    <script src="/js/autocomplete.js" defer></script>
</head>
<body>
    <!-- <header class="landing-page"class= header">
        <nav>
            <div class="container">
                <a href="/" class="nav-brand text-dark">User Portfolio</a>
            </div> 
                <div class="container">
                    <a href="#" class="logo">Stock <b>Hawk</b></a>
                    <ul class="links">
                        <li>Home</li>
                        <li>About Us</li>
                        <li>Work</li>
                        <li>Info</li>
                        <li>Get Started</li>
                    </ul>
                </div>
        </nav>
    </header> -->
    <div class="landing-page">
        <header>
            <div class="nav-container">
                <a href="#" class="logo">Stock <b>Hawk</b></a>
                <ul class="links">
                    <a href="/portfolio"><li>Portfolio</li></a>
                    <a href="/profile"><li>Profile</li></a>
                    <a href="/dashboard"><li>Dashboard</li></a>
                    <a href="/logout" class="logout"><li>logout</li></a>
                    <!-- <li>logout</li> -->
                </ul>
            </div>
        </header>
    </div>